<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label th:text=${course.name}></label>
<label th:text=${course.field}></label>
<table>
    <tbody th:each="video:${course.videoDtoList}">
    <tr>
        <td th:text="${video.name}"></td>
        <td>
            <video width="320" height="240" controls>
                <source src="/src/main/resources/video/Murad.mp4" type="video/mp4">
            </video>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>